@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'NeueMachina';
  src: url(../public/fonts/neuemachina-regular.otf);
}
@font-face {
  font-family: 'NEXTBook';
  src: url(../public/fonts/NEXT-Book-Regular.otf);
}

@layer components {
  .slide-crard {
    transform: translatex(-120%);
    transition: all 3s linear;
  }
  .slide-crard-right {
    transform: translatex(0%);
    transition: all 3s linear;
  }
  .right-slide-end {
    background: #303030;
    opacity: 40%;
    pointer-events: none;
  }
  #left-btn {
    visibility: hidden;
  }
}

@media (min-width: 640px) and (max-width: 1280px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 375px) and (max-width: 639px) {
  html {
    font-size: 14px;
  }
}

